# Environments
.env
.venv
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.ruff_cache/

# Databases
*.sqlite3
*.db
green_scoring.db

# Project specific
uploads/

# IDEs and OS
.vscode/
.idea/
.DS_Store
